*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background: url(img/header.jpg) center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 340px;

  display: flex;
  align-items: center;
}

h1{
  letter-spacing: 8px;
  font-weight: 300;
  font-size: 56px;
  padding-left: 60px;
}

h2{
  display: flex;
  height: 60px;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 6px;
  justify-content: center;
  align-items: center;
  background: rgba(83, 85, 86, 1);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.right h2{
  background-color: rgba(116, 134, 135, 1);
}


h1,h2{
  font-family: Ropa Sans;
  color: rgba(255, 214, 0, 1);
}
li,
p{
  font-family: 'Roboto', sans-serif;
}

main{
  display: flex;
  justify-content: center;
  height: 700px;
  background-color: rgba(66, 66, 66, 1);
}

.left,
.right{
  margin: -40px 4%;
  height: 550px;
  width: 400px;
  background-color: lightgray;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  
}

.left{
position: relative;
}

button{
font-size: 24px;
border: none;
background-color: lightgray;
margin-left: 8px;
margin-right: 14px;
outline: none;
box-shadow: none;
}

.buttons{

display: flex;
justify-content: center;
align-items: center;
padding-top: 4px;
padding-bottom: 4px;

position: absolute;
bottom: 0px;
left: auto;
right: auto;
width: 100%;
}

.buttons button:hover{
cursor: pointer;
}

.buttons p{
letter-spacing: 6px;
}

.character{
  width: 100%;
}

.character-spec,
.planet-spec{
  height: 230px;
}

.character-spec{
  background-color: rgba(196, 196, 196, 1);
  color: black;
}

.planet-spec{
  background-color: rgba(142, 142, 142, 1);
  color: white;
}


li{
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 20px;
  height: 42px;
  padding-left: 22px;
  background-color:  rgba(225, 222, 222, 1);
  color: rgba(83, 85, 86, 1);
}

li:hover{
  background-color: #444444;
  color: white;
  cursor: pointer;
}

.bg-color{
  background-color: rgba(142, 142, 142, 1);
  color: white;
  
}

.character-spec,
.planet-spec{
  padding: 0 20px;
  width: 100%;
}

p{
  letter-spacing: 0.2em;
  line-height: 22px;
  font-weight: 600;
}

.character-spec p:nth-child(1),
.planet-spec p:nth-child(1){
  font-size: 28px;
  padding: 10px 0px;
}


/* LOADING ANIMATIONS */
/* SOURCE: https://loading.io/css/ */

 .lds-ring {
  /* display: inline-block;
  position: relative;
  width: 80px;
  height: 80px; */
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 230px;
}



/*------------------- PRE LOADER-------------------- */

.char-info-wrapper{
  background-color: rgba(196, 196, 196, 1);
}

.planet-info-wrapper{
  background-color: rgba(142, 142, 142, 1);
}

 .lds-ring,
 .lsd-ring-char-info,
 .lsd-ring-planet-info{
  box-sizing: border-box;
  /* display: block;
  position: absolute; */
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color:#fff transparent transparent transparent;
}  

@keyframes lds-ring {
 0% {
   transform: rotate(0deg);
 }
 100% {
   transform: rotate(360deg);
 }
} 


/* -------------------------------------------------------*/
.char-info-wrapper,
.planet-info-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 230px;
}

.characters-list-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 460px;
}

.hidden{
    display: none;
}

.buttons-container{
  background-color: rgba(196, 196, 196, 1);
}

.extra-info-buttons{
  padding: 8px;
  margin: 0 0 0 10px;
  font-size: 12px;
  letter-spacing: 1px;
  background-color: rgba(235, 235, 235, 1);
  color: rgba(140, 118, 0, 1);
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.darker-color-btn{
  background-color: rgba(142, 142, 142, 1);
}

/* RESPONSIVE------------------------------------ */

@media screen and (max-width: 760px){
    li{
        font-size: 14px;
    }

    h1{
      letter-spacing: 6px;
      font-size: 38px;
      padding-left: 30px;
  }
  h2{
    font-size: 18px;
    letter-spacing: 3px;
  }

    p{
      letter-spacing: 0.2em;
      line-height: 16px;
      font-weight: 600;
      font-size: 12px;
  }
  .character-spec p:nth-child(1),
  .planet-spec p:nth-child(1){
      font-size: 12px;
      padding: 10px 0px;
  }

  .left,
  .right{
    margin: -40px 2%;
    width: 170px;
    height: 531px;
  }

  .right p{
    font-size: 9px;
  }


  header{
    height: 280px;
  }

  main{
    height: 600px;
  }

  .buttons-container{
      line-height: 0;
  }

  .extra-info-buttons{
    padding: 2px;
    font-size: 6px;
    margin: 0;
  }

  .right{

    background-color: rgba(196, 196, 196, 1);
  } 

}