*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background: url(img/header.jpg) center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 340px;

    display: flex;
    align-items: center;
}

h1{
    letter-spacing: 8px;
    font-weight: 300;
    font-size: 56px;
    padding-left: 60px;
}

h2{
    display: flex;
    height: 60px;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 6px;
    justify-content: center;
    align-items: center;
    background: rgba(83, 85, 86, 1);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.right h2{
    background-color: rgba(116, 134, 135, 1);
}


h1,h2{
    font-family: Ropa Sans;
    color: rgba(255, 214, 0, 1);
}
li,
p{
    font-family: 'Roboto', sans-serif;
}

main{
    display: flex;
    justify-content: center;
    height: 700px;
    background-color: rgba(66, 66, 66, 1);
}

.left,
.right{
    margin: -40px 4%;
    height: 500px;
    width: 400px;
    background-color: lightgray;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    
}

.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
}

.character-spec,
.planet-spec{
    height: 220px;
}

.character-spec{
    background-color: rgba(196, 196, 196, 1);
    color: black;
}

.planet-spec{
    background-color: rgba(142, 142, 142, 1);
    color: white;
}


li{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 20px;
    height: 42px;
    padding-left: 22px;
    background-color:  rgba(225, 222, 222, 1);
    color: rgba(83, 85, 86, 1);
}

li:hover{
    background-color: #444444;
    color: white;
    cursor: pointer;
}

.bg-color{
    background-color: rgba(142, 142, 142, 1);
    color: white;
    
}

.character-spec,
.planet.spec{
    padding: 0 20px;
}

p{
    letter-spacing: 0.2em;
    line-height: 22px;
    font-weight: 600;
}

.character-spec p:nth-child(1){
    font-size: 28px;
    padding: 10px 0px;
}


/* LOADING ANIMATIONS */
/* SOURCE: https://loading.io/css/ */

/* .lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }

  /* Man kan ta bort p taget för att se vad som sker */
  /* Det funkar nu MEN behöver mer anpassning när man kommer att behöva använda animationen på andra ställen också */
  /* .lds-ring p {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color:#fff transparent transparent transparent;
  }  */


  /* @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } */


  /* LOADER TEST */
  /* .loader {
    color: #030303;
    font-size: 20px;
    margin: 100px auto;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load4 1.3s infinite linear;
    animation: load4 1.3s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  @-webkit-keyframes load4 {
    0%,
    100% {
      box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
      box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
  }
  @keyframes load4 {
    0%,
    100% {
      box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
      box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
  } */

.hidden{
      display: none;
  }

  /* RESPONSIVE------------------------------------ */

  @media screen and (max-width: 760px){
      li{
          font-size: 14px;
      }

      h1{
        letter-spacing: 6px;
        font-size: 38px;
        padding-left: 30px;
    }

      p{
        letter-spacing: 0.2em;
        line-height: 18px;
        font-weight: 600;
        font-size: 12px;
    }
    .character-spec p:nth-child(1){
        font-size: 18px;
        padding: 10px 0px;
    }
  }